.margin {
  width: 1090px;
  margin: 0 auto; }

#nav {
  border-bottom: 1px solid #ddd; }

.type {
  height: 22px;
  line-height: 22px;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  color: #999;
  border-top: 1px solid #ddd;
  cursor: pointer; }
  .type span.kuang {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    border: 1px solid #ccc;
    color: #333; }

#magnifier {
  height: 650px; }
  #magnifier .left {
    float: left; }
    #magnifier .left .sBox {
      width: 400px;
      height: 300px;
      position: absolute;
      left: 50px;
      top: 350px;
      border: 1px solid #000; }
      #magnifier .left .sBox img {
        width: 400px;
        height: 300px; }
      #magnifier .left .sBox span {
        background: url(https://haitao.nosdn1.127.net/7c94584518a548b6ac711e0ddacfed5d1532592299595jk29vupf13449.jpg?imageView&thumbnail=800x0&quality=85);
        background-size: 400px 300px;
        position: absolute;
        left: 0;
        top: 0;
        display: none; }
    #magnifier .left .bBox {
      width: 500px;
      height: 300px;
      position: absolute;
      left: 500px;
      top: 100px;
      overflow: hidden;
      display: none; }
      #magnifier .left .bBox img {
        width: 1200px;
        height: 900px;
        position: absolute; }
