.margin {
  width: 1090px;
  margin: 0 auto; }

#login_top {
  height: 100px;
  border-bottom: 1px solid #ddd; }
  #login_top img {
    margin-top: 15px;
    float: left; }
  #login_top p {
    float: right; }
    #login_top p img {
      margin: 0; }

#login_con {
  width: 100%;
  margin: 0 auto;
  background: url(https://haitao.nos.netease.com/5ea0cfc4-e31f-4582-87b6-e478a6bf6131T1912071642_1920_520.jpg) repeat -30px;
  height: 516px;
  position: relative; }
  #login_con #login_conbox {
    width: 340px;
    box-shadow: 0 0 2px #cecece;
    background: #fff;
    position: relative;
    left: 976px;
    top: 100px;
    height: 260px; }
    #login_con #login_conbox h4 {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border-bottom: 1px solid #eee;
      text-align: center;
      color: #861185;
      font-weight: 700; }
    #login_con #login_conbox span {
      width: 52px;
      display: inline-block;
      margin-left: 5px;
      margin-top: 5px; }
    #login_con #login_conbox #user {
      width: 200px;
      border: 0;
      border: 1px solid #000;
      height: 25px;
      margin-top: 20px; }
    #login_con #login_conbox #pass {
      width: 200px;
      border: 0;
      border: 1px solid #000;
      height: 25px;
      margin-top: 20px; }
  #login_con #s {
    position: absolute;
    top: 500px; }

#forget {
  border: 1px solid #000;
  font: 14px /24px "";
  background: #ddd;
  margin-top: 15px;
  display: inline-block;
  width: 60px;
  margin-left: 20px; }

#free_reg {
  border: 1px solid #000;
  font: 14px /24px "";
  background: #ddd;
  margin-top: 15px;
  display: inline-block;
  width: 60px;
  margin-left: 20px;
  text-align: center; }

footer {
  background: #fff; }
  footer p {
    color: #000; }
