.margin{width: 1090px;margin:0 auto}
#login_top{
    height:100px;
    border-bottom: 1px solid #ddd;
    img{
        margin-top:15px ;
        float: left;   
    }
    p{
        float: right; 
        img{
            margin:0
        } 
    }
}
#zc{
  width: 100%;
  margin: 0 auto;
  background: url(https://haitao.nos.netease.com/5ea0cfc4-e31f-4582-87b6-e478a6bf6131T1912071642_1920_520.jpg)repeat -30px;
 height:516px;
  position: relative;
  .zc_z{
    width: 340px;
    box-shadow: 0 0 2px #cecece;
    background: #fff;
    position: relative;
    left: 976px;
    top: 100px;
    height:260px;
  }
  h1{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: #861185;
    font-weight: 700;
    
  }
  span{
    width:52px;
    display:inline-block;
    margin-left:25px;
    margin-top:25px;
  }
 #reg{
    border:1px solid #000;
    font:14px /24px "";
    background:#ddd;
   margin-top:15px;
   display:inline-block;
   width:60px;
   margin-left:20px

  }
  #log{
    border:1px solid #000;
    font:14px /24px "";
    background:#ddd;
   margin-top:15px;
   display:inline-block;
   width:60px;
   margin-left:30pxx
  }
  #user{
    width:228px;
    height:29px;
  }
  #pass{
    width:228px;
    height:29px;
  }
}