#register_con {
    width: 1200px;
    margin: 0 auto;
    height: 720px;
    #register_conbox {
      width: 630px;
      box-shadow: 0 0 2px #cecece;
      background: #fff;
      position: relative;
      left: 300px;
      top: 30px;
      h4 {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-bottom: 1px solid #eee;
        text-align: center;
        color: #861185;
        font-weight: 700;
        margin-bottom: 10px;
      }
      form {
        ul {
          li {
            .form-label {
              width: 145px;
              height: 32px;
              line-height: 32px;
              text-align: right;
              float: left;
              em {
                color: #ef4521;
              }
            }
            #green {
              color: #00cf01;
            }
            .form-act {
              position: relative;
              display: block;
              float: left;
              margin-left: 10px;
              input {
                border: none;
                background: none;
                width: 288px;
                height: 26px;
                line-height: 26px;
                padding: 1px 4px;
                border: 1px solid #ccc;
              }
              .caution_con {
                position: absolute;
                top: 33px;
                left: 0;
                padding: 0;
                height: 16px;
                white-space: nowrap;
                font-size: 12px;
                color: #666;
                margin: 8px 5px;
                color: red;
              }
            }
            &.yanzheng {
              .form-act {
                input {
                  width: 80px;
                }
              }
            }
            &.dx_yanzheng {
              .form-act {
                input {
                  width: 80px;
                }
                a {
                  display: inline-block;
                  width: 120px;
                  height: 30px;
                  background: #861185;
                  color: #fff;
                  line-height: 30px;
                  text-align: center;
                  &:hover {
                    background: #d84406;
                  }
                }
              }
            }
            &.xieyi {
              text-align: center;
              line-height: 60px;
              span {
                a {
                  color: #006fff;
                  margin: 0 5px;
                }
              }
            }
            #reg_btn {
              display: block;
              width: 300px;
              line-height: 40px;
              background: #861185;
              border-radius: 2px;
              font-size: 16px;
              text-align: center;
              margin: 0 auto;
              color: #fff;
              &:hover {
                background: #d84406;
              }
            }
          }
        }
      }
    }
  }
 
    #register_con {
      #register_conbox {
        form {
          ul {
            li {
              height: 60px;
              overflow: hidden;
              margin-bottom: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
 
  